*{
	margin:0px;
	padding:0px;
}

/*棋盘设置样式*/

.wrapper{
	/*14*14个格子   44*44 大小*/
	width: 616px;
	height:616px;
	margin:0px auto;
	background: red;

}

.gezi{
   width: 42px;
   height: 42px;
   border: 1px solid black;
   float: left;


}