/*专门写关于网页的样式*/
/*header部分的代码*/
.header{
	height: 58px;
	background-color: #191d3a;
}
.header .logo{
	float: left;
}

.header .bw-container{
	height: 58px;
	line-height: 58px;
}

.header .bw-container > a{

	float: left;
	border-left: 1px solid #252947;
    border-right: 1px solid #252947;
    /*background: orange;*/
    width: 85px;
    height: 58px;
    text-align: center;
    text-decoration: none;
    font-family:  "Microsoft YaHei", "simhei";
    font-size: 14px;
    font-weight: 200;
    color: #818496;
}
.header .bw-container > a:hover{
	color: #e2e4ed;

}
.header .bw-container > a.selected{
    background-color: #252947;
    color: #e2e4ed;
}
.header .bw-container > a.join{
	width: 100px;
	margin-top:12px;
	margin-left: 10px;
	border: 0px;
}

.language-cut{
	float: right;
	font-size: 14px;
    font-weight: 200;
    font-family:  "Microsoft YaHei", "simhei";

}
.language-cut a{
	text-decoration: none;
	color: #818496;

}
.language-cut a:hover{
	color: #38b774;
}

.language-cut a.selected{
	color: #38b774;
}

/*section1 轮播大图部分*/
.section1{
	height: 460px;
	/*background: orange;*/
	background: url(../img/banner.jpg);
	background-position: center top;
}

/*.section2*/
.section2{
	/*height: 250px;*/
	/*background: red;*/
}

.section2 .bw-container{
	/*height: 150px;*/
	/*background: orange;*/
	padding-top: 50px;
}
.section2 .bw-container a{
	/*display: inline-block;*/
	float: left;
	text-align: center;
	text-decoration: none;
	
	color: #444866;

}

.section2 .bw-container  h5{
	font-size: 14px;
	/*color: #444866;*/
}
.section2 .bw-container a  p{
	color:  #38b774;
	font-size: 12px;
}
.section2 .bw-container > a:hover{
	background: #38b774;
}

.section2 .bw-container > a:hover p{
	color: #fff;
}
.section2 .bw-container > a:hover h5{
	color: #fff;
}

.section2 .bw-container a+a{
	margin-left: 42px;
}

/*footer部分*/
.footer{

	background-color: #191d3a;
}

.footer .bw-container{
	height: 200px;
	overflow: hidden;
}

.footer .bw-container p{

	margin-top:30px;
	color: #6c6e7e;
	font-size: 12px;

}
.footer .bw-container p.p1 a{

	text-decoration: none;
	color: #6c6e7e;
	font-size: 12px;
	padding:0px 10px;

}
.footer .bw-container p.p1 a+a{
	border-left: 1px solid  #6c6e7e;
}

.footer .bw-container p.p2,p.p3{
	padding-left: 10px;
}
