/*基本类*/

/*命名规则
	1.驼峰命名,两个及以上单词拼接可以给后面单词的首字母大写
 */
/*--------------------------------颜色------------------------*/
.bg-red{
	background: red;
}
.bg-green{
	background: green;
}
.bg-orange{
	background: orange;
}
.bg-skyBlue{
	background: skyblue;
}
/*藤黄色*/
.bg-tengHuang{
	background: #ffb61e;
}
/*琥珀色*/
.bg-huPo{
	background: #ca6924;
}

/*----------------------字体-----------------------------------*/
.ft-s16{
	font-size: 16px;
}
.ft-s18{
	font-size: 18px;
}
/*粗体*/
.ft-wb{
	font-weight: bold; 
}

/*---------------------------高度-------------------------------*/
.h20{
	height: 20px;
}
/*---------------------------宽度----------------------------------*/
.w960{
	width: 960px;
}
.w-b50{
	width: 50%;

}

/*---------------------------字体颜色---------------------------*/



/*---------------------------对齐方式----------------------------*/


/*---------------------------下划线------------------------------*/

/*----------------------块级行内极的转变-------------------------*/

