*{
	margin: 0px;
	padding:0px;
}

/*----------header部分---------------*/
.header{
	height: 100px;

	/*background-color: red;*/

	text-align: right;
	
	padding-top:20px;

}

.header a{
	font-size: 13px;
	font-weight: 700;
	color: #333;
	margin-left: 20px;
}

.header a.xi{
	font-weight:200;
}

.header a.more{
	font-weight:200;
	background: #38f;
	color: #fff;
	padding: 3px;

	/*取消a标签的下划线*/
	text-decoration: none;
	margin-right: 20px;
}