*{

	margin:0px;
	padding:0px;
}

#tab{

	/*width: 500px;*/
	width: 502px;
	height: 130px;
	border:1px solid black;
	margin:40px auto;
}
#tab-header{
	width: 100%;
	height: 40px;
	background-color:#F7F7F7;

}
#tab-header ul{
	height: 40px;
	list-style: none;
	/*overflow: hidden;*/

}

#tab-header ul li{
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom:1px solid #ddd;
}

#tab-header ul li.selected{
	background-color: white;
	border-bottom: 0px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

#tab-header ul li:hover{
	cursor: pointer;
	color: orange;
	font-weight: bolder;
}