.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.mian {
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 25px;
}
.mian .originoo_banner_user > .text-left {
  float: left;
}
.mian .originoo_banner_user > .text-left .text-xl {
  font-size: 22px;
  font-family: 微软雅黑;
  font-weight: 900;
}
.mian .originoo_banner_user > .text-left .text-sm {
  font-size: 10px;
}
.mian .originoo_banner_user > .text-left .mt {
  font-size: 14px;
}
.mian .originoo_banner_user > .text-left .mt .mtll {
  font-weight: 400;
}
.mian .originoo_banner_user > .text-left .mt .mt-5 > .btn {
  background-color: #258964;
  color: white;
  border: none;
}
.mian .picturebox {
  margin-left: -6px;
}
.mian .picturebox .tp {
  float: left;
  width: 25%;
  overflow: hidden;
}
.mian .picturebox .tp img {
  padding-left: 6px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
