
*{
	margin:0px;
	padding: 0px;
}

.title{
	width: 100px;
	height: 15px;
	background: #E9F5B0;
	text-align: center;
	color: orange;
	font-size: 14px;
	padding: 5px;
	border-left: 5px solid black;
}


/*主要页面wrapper*/
#wrapper{
	width: 960px;
	/*background: red;*/
	margin:0px auto;
	/*height: 100px;*/
	/*高度不设置，让子标签撑起来*/
}
/*------header------------*/
#header{
	height: 260px;
	background: url(../images/bg.jpg);
	/*使背景图片填充满div的宽100% 高100%的区域*/
	background-size: 100% 100%;

	text-align: center;

}
#header img{
	width: 80px;
	height: 80px;
	margin-top:80px;
	/*如果是正方形想变成圆，设置属性为50%或者长款的一半*/
	border-radius: 50%;
	margin-bottom: 20px;
}

#header h3{
	color: orange;
}
#header p{
	font-size: 12px;
}

/*------section1---------------*/
.section1{
	margin-top:20px;
}
.section1 p{
	/*文本标签，当没设置高度的时候。宽度减少，高度会自动增加*/
	margin:0px 20px;
	color: rgb(216, 168, 120);
	/*设置字体*/
	font-family:"微软雅黑";
	margin-top:10px;
	margin-bottom: 20px;
}