*{
	margin:0px;
	padding: 0px;
}
.clear{
	clear: both;
}
.wrapper{
	width: 960px;
	background:pink;
	margin: 0px auto;
		/*height: 400px;*/
}
.box{
	width: 440px;
	height: 380px;
	padding-top: 20px;
	float: left;
	text-align: center;
	margin:20px;
}

.img{
	width: 340px;
	height: 260px;
	background: black;
	display:inline-block;
}