
/*基础的类*/
*{
	margin:0px;
	padding:0px;

}

a{
	text-decoration: none;
}
li{

	list-style: none;
}

.clear{
	clear: both;
}

/*这是一个很重要的公共类*/
/*控制内容居中*/
.basics{
	width: 1000px;
	margin: 0px auto;
	/*background: red;*/
}
/*封装一个标签，给提供空白间隔*/
.mt30{
	height:30px;
}
.mt45{
	height: 45px;
}

/*header */
.header{
	/*宽高靠撑大*/
	background: #191D3A;
	/*也可以设置一个让标签全部迁就他*/
	height: 58px;
}
.header .logo{
	width: 158px;
	height: 58px;
	float: left;
	margin-right: 20px;
}
.header .logo img{
	height: 58px;
	width: 158px;

}

.header .nav{
	height: 58px;
	/*width: */
	float:left;
}

.header .nav ul li a{
	display: inline-block;
	width: 100px;
	height: 58px;
	text-align: center;
	text-decoration: none;
	color: #818496;

}
.header .nav ul li{
	float: left;
	list-style: none;
	line-height: 58px;
	border-left: 1px solid #252947;
}
.header .nav ul li a.current{
	color:white;
    background: #252947;

}

.header .nav ul li a:hover{
	color:white;
    background: #252947;

}


.btn{

	float: right;
	/*line-height: 58px;*/
	
}
.btn a{
	
	display: inline-block;
	height: 58px;
	/*line-height: 58px;*/
	/*只能这么设置了*/
	padding-top: 12px;

}
.btn img{
	height: 34px;
	width: 100px;

}

/*banner*/
.banner{
	height: 456px;
	min-width: 1000px;
	background: url(images/banner.jpg) center;
	/*background-size: 100% 100%;*/
}

/*list-product*/
/*宽1000px*/
.list-product{
	/*宽不用设置，高靠自标签里的li的200和自标签*/
	/*height: 200px;*/

	/*最后*/
	border-bottom: 1px solid #DBE1E7;
}
/*UL不用设置，li浮动起来撑开高和宽度.4个=1个ul=1个list-product*/
.list-product ul li{

	height: 200px;
	/*因为ul的宽为俯视图的款*/
	width: 25%;
	/*width: 250px;*/
	/*background: yellow;*/
	float: left;
	
	/*让内容全部居中显示*/
	text-align: center;
}
.list-product ul li img{
	margin-top:10px;
	width: 218px;
    height: 130px;
}
.list-product ul li h3{
	line-height: 38px;
    font-size: 14px;
    font-weight: bold;
}
.list-product ul li a{
	font-size: 12px;
    color: #38B774;
    background: url(images/sanjiaoxing.png) no-repeat right 5px top 2px;
    padding-right: 12px;
}


/*这里的两个先上来固定了phto的高度*/
/*new 有自己的背景，padd-top让下面的ul空出位置*/
.new{
	width: 50%;
	float: left;
	/*background: red;*/
	background: url(images/bynewsbg.jpg) no-repeat;
	padding-top: 120px;
	position: relative;
	/*height: 250px;*/

}
.new li{

	line-height: 50px;
    border-bottom: 1px solid #E0E1E5;
}
.new li a{
	font-family: "Microsoft YaHei","SimSun";
	color: #444866;
    font-size: 14px;
}

.photo{
	width: 50%;
	float: left;
	/*background: orange;*/
	background:url(images/byhrbg3.jpg) no-repeat;
	height: 320px;
	/*120+50*4*/
}

.more2{
	/*不需要设大小，跟着图片就好*/
	position: absolute;
	top: 37px;
	left: 215px;

}


.footer{
	height: 91px;
    background-color: #191D3A;
}