*{
	margin:0px;
	padding:0px;
}
/*---------------第一种写法：a标签对齐法------*/
/*header部分*/
#header{
	/*background: red;*/
	height: 100px;
	text-align: right;
}
/*可以统一设置大多数A标签*/
#header a{
	/*因为a是不完整盒子*/
	display: inline-block;
	margin-top: 20px;

	font-weight: bold;
	color: #333;
	margin-right: 10px;
	font-size: 13px;

}

#header a.none-bold{
	font-weight: normal;
}
/*basic.css里的公共类，一般设置不冲突的属性*/
#header a.product{
	background: #38f;
	color: white;
	font-weight: normal;
	text-decoration: none;
	padding:5px;

}