div {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-top: 10px;
  color: #0000ff;
}
#four {
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent transparent #ffff00;
  width: 0px;
  height: 0px;
  background-color: transparent;
}
#five {
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #ff0000 transparent;
  width: 0px;
  height: 0px;
  background-color: transparent;
}
#three {
  background-color: #888;
  transition: all 0.5s;
}
#three:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
}
.color {
  color: blue;
}
p {
  font-size: 20px;
  color: #ff0000;
  color: blue;
}
